* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px; 
    margin-bottom: 123px;
}

#left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    font-family: 'inter', sans-serif;
    font-size: 11px;
    font-weight: 500;
    /* border: 1px solid blue; */
}


#exchange--wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #353535;
    border: 1px solid #686868;
    border-radius: 5px;

}

#exchange {
    padding: 9px 11px;
    color: white;
}

#wallet {
    padding: 9px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#list-container {
    display: flex;
    align-items: center;
}


#nav-list {
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
    color: #F1F1F1;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 22px;
    border-left: 1px solid gray;
    
}

.dropdown-box {
    position: relative;
    bottom: 1px;
    display: flex;
    align-items: center;
    gap: 3px;
    /* border: 1px solid red; */
}

.nav-span {
    margin-left: 3px;
}

#connect-walletDiv {
    width: 101px;
    height: 28px;
    padding: 7px 11px;
    border-radius: 22px;
    background: #FFF;
    color: #151515;
    font-family: 'inter', sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

#downloadicon {
    display: block;
    width: 20px;
    height: 20px;
}

#navIcon-box {
    display: flex;
    border-left: 1px solid gray;
    height: 18px;
    gap: 18px;
    align-items: center;
    padding-left: 30px;
}

/* first main css  */

#firstMain-box {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0px auto 190px;
    padding: 0px 110px 0px 38px;
}

#firstMain-right {
    padding: 61px 0px;
}


#web3 {
    color: #FFF;
    font-family: 'Assistant', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#wallet-trade {
    color: #FFF;
    font-family: 'Assistant', sans-serif;
    font-size: 27px;
    font-weight: 600;
    opacity: 0.43;
    margin-bottom: 58px;
}

#wallet-guestBox {
    display: flex;
    align-items: center;
    gap: 46px;
    width: 550px;
    margin-bottom: 125px;
}

#main-connectWallet {
    padding: 21px 40px;
    border-radius: 41px;
    background: #FFF;
    color: #000;
    font-family: 'Assistant', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

#guest-mode {
    display: flex;
    gap: 10px;
    color: #FFF;
    font-family: 'Assistant', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

#black-iconBox {
    display: flex;
    width: 650px;
    gap: 25px;
    justify-content: space-between;
}

.download-p {
    color: #FFF;
    margin-bottom: 4px;
    font-family: 'Assistant', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.56;
}

.downloadapp-box {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 11px 17px;
    border: 1px solid rgba(217, 217, 217, 0.24);
}

.download-info {
    color: #FFF;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}